/* !General */
:root {
  --mainColor: rgb(23, 162, 184);
}
.cursorPointer{
    cursor: pointer;
}

/*  */
body {
  background-color: rgb(37, 52, 68);
}
.inner {
  width: 900px;
}
.inner h1{
  color: var(--mainColor);
}

.form-control:focus {
  border-color: var(--mainColor) !important;
}
.form-control::placeholder{
    color: rgb(183,182,183);
}
.myBtn{
color: var(--mainColor);
border:solid 1px var(--mainColor);
transition: background-color 800ms;

}
.myBtn:hover{
background-color: var(--mainColor) !important;
}
small{
  color: red;
}
